.header {
  max-width: 90rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  justify-content: center;
  position: relative;
  /* max-width: 79.6875rem; */
  align-items: flex-start;
  grid-template-columns:
    minmax(min-content, 28.125rem) minmax(min-content, 10.3125rem)
    minmax(min-content, 19.375rem) minmax(min-content, 4.0625rem) minmax(min-content, 17.8125rem);
  grid-template-rows: 11.875rem 38.125rem;
}

.hero::before {
  content: '';
  position: absolute;
  /* inset: 0; */
  width: 450px;
  height: 100%;
  background-color: var(--clr-almost-black);
  z-index: -1;
}

.hero__image {
  grid-column: 2 / 5;
  grid-row: 1 / -1;
  height: 100%;
  object-fit: cover;
}

.hero__image_tab {
  display: none;
}

.hero__image_mob {
  display: none;
}

.hero__title {
  grid-column: 1 / 3;
  justify-self: end;
  grid-row: 1;
  color: var(--clr-white);
  mix-blend-mode: difference;
  grid-row: 2;
}

.hero__title-span {
  display: block;
}

.hero__content {
  grid-column: 4 / span 2;
  grid-row: 2;
  color: var(--clr-dark-gray);
}

.hero__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(260px, 100%);
  text-decoration: none;
  background: var(--clr-almost-black);
  color: var(--clr-white);
  padding-left: 32px;
  margin-top: 64px;
  font-family: var(--ff-header);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3.64px;
  transition: 0.2s ease;
}

.hero__button-icon {
  background: var(--clr-gold);
  padding: 24px;
  transition: 0.2s ease;
}

.hero__button:hover {
  transition: 0.2s ease;
  background: var(--clr-gold);
}
.hero__button:hover .hero__button-icon {
  transition: 0.2s ease;
  background: var(--clr-almost-black);
}

@media screen and (max-width: 960px) {
  .hero {
    align-items: center;
    justify-content: center;
    grid-template-columns:
      minmax(min-content, 24.3125rem) minmax(min-content, 3rem)
      minmax(min-content, 18.1875rem) minmax(min-content, 2.5rem);
    grid-template-rows: 9.0625rem 8.125rem 3rem 14.5rem 9.0625rem;
  }
  .hero::before {
    content: none;
  }

  .hero__image {
    display: none;
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
  }

  .hero__image_tab {
    display: block;
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
  }

  .hero__title {
    grid-column: 2 / span 2;
    justify-self: start;
    grid-row: 2;
    font-size: 70px;
  }

  .hero__title-span {
    display: block;
  }

  .hero__content {
    grid-column: 2 / span 2;
    grid-row: 4;
    margin-top: 48px;
  }

  .hero__button {
    margin-top: 48px;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero__image_tab {
    display: none;
  }

  .hero__image_mob {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  .hero__title {
    align-self: flex-start;
    padding: 2rem 1rem 0;
  }

  .hero__content {
    margin: 0;
    padding: 2rem 1rem 0;
  }
}

@media screen and (max-width: 425px) {
  .heading-xl {
    font-size: var(--fs-700);
  }

  .text-m {
    font-size: var(--fs-400);
    line-height: 1.55;
  }
}
